# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Models
*.pkl
*.joblib

# Uploaded data
uploads/